<!-- about.ejs Milan Gadhiya 301297324 08/02/2023-->
<%- include('partials/header', {title:'About Us'}); -%>
<%- include('partials/top_nav') %>

<!-- Start About Area -->
<div class="row about my-5">
    <div class="col-4 bgstandardcolor py-5" style="height: auto;">
        <div class="text-center">
            <img src="/Assets/images/milan_photo.jpg" alt="..." style="border-radius: 50%;">
        </div>
        <div class="text-center text-light py-5">
            <h4 class="card-title">MILAN GADHIYA</h4><br>
            <p class="card-text">I'm a FullStack Developer in Toronto, CA.
              I have serious passion for UI effects, backend, database, animations and creating intuitive, dynamic user experiences.
            </p>
            <section class="mb-4 pt-4 pb-2">
              <!-- Facebook -->
              <a class="btn m-1 text-light" href="#!"><i class="fab fa-facebook-f"></i></a>
              <!-- Twitter -->
              <a class="btn m-1 text-light" href="#!"><i class="fab fa-twitter"></i></a>
              <!-- Instagram -->
              <a class="btn m-1 text-light" href="#!"><i class="fab fa-instagram"></i></a>
              <!-- Linkedin -->
              <a class="btn m-1 text-light" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </section>
        </div>
    </div>
    <div class="col-8 py-5 px-5 mt-5 mb-4 info" style="height: auto;">
        <h2 class="card-title">About Me</h2><br>
        <p class="card-text pb-5">My name is Millan Gadhiya. I have developed many types of fullstack projects from well know Management applications to Ecommerce booking platforms.
            To create digital products and experiences, National and international customers rely on me to design, implement, and manage their digital products. as an independent, I work with web agencies, 
            companies, startups and individuals to create a blueprint for the digital business. Advisor and partner of some digital and fintech startups. also, judge at cssda and the webby.
            <br><br> Well-organized person, problem solver, independent employee with high attention to detail. Fan of MMA, outdoor activities, TV series and English literature. 
            Interested in the entire fullstack spectrum and working on ambitious projects with positive people.
        </p>
        <a class="btn contactbtn" href="/contact" role="button">CONTACT ME</a> 
        <p class="pt-4">click here for <a style="color: #052B72" href="/Assets/pdf/Milan_Resume_2022.pdf" target="_blank">Resume</a></p>
    </div>
</div>
<!-- End About Area -->

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>