<!-- home.ejs Milan Gadhiya 301297324 08/02/2023-->
<%- include ('partials/header') %>
<%- include('partials/top_nav') %>

<!-- Start Home Area -->
<div class="fullscreenDiv">
  <div class="container jumbotron jumbotron-fluid bg-color">
    <div class="container text-light">
      <h1>Welcome to Express Portfolio Site</h1>
      <p>I'm Milan Gadhiya. I am a FullStack developer. I also have an experience of almost 2 years in web
        developing. During this 2 years I've worked in around four projects. Also have knowledge of Nodejs, Expressjs,
        Reactjs, MongoDB etc.</p>
      <p class="lead">
        <a class="btn btn-lg" href="/about" role="button">About Me</a>
      </p>
    </div>
  </div>
</div>
<!-- End Home Area -->

<%- include('partials/footer'); -%>