<!-- services.ejs Milan Gadhiya 301297324 08/02/2023-->
<%- include('partials/header', {title:'Services'}); -%>
<%- include('partials/top_nav') %>
 
 
<!-- Start Service Area -->
<div class="row pt-3 pb-5">
    <div class="text-center">
        <h2>Web Application Development</h2>
        <hr class="text-center">
        <p>Design, develop and deploy web application to bring impactful changes within your web development projects.</p>
    </div>

    <div class="card-deck pt-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="fa-solid fa-computer standardcolor fa-4x"></i>
          <h5 class="card-title pt-3">Front-end Web Development</h5>
          <p class="card-text">Utilize the reusable components and deliver component-driven architecture using advanced Frontend technologie like React.js, Angular, and Vue.js. We are combines amazing UI designs with required functionalities effortlessly.</p>
        </div>
      </div>
      <div class="card text-left">
          <div class="card-body text-center">
            <i class="fa-solid fa-gears standardcolor fa-4x"></i>
            <h5 class="card-title pt-3">Back-end Development</h5>
            <p class="card-text">Seamlessly navigate between multiple features of an application by accessing the talented pool of backend web developers who can make your application scalable. We offers AWS and Azure services to host the backend services on cloud, and SQL and NoSQL databases to store and fetch data reliably using MicroServices.</p>
          </div>
        </div>
        <div class="card text-left text-center">
          <div class="card-body">
            <i class="fa-brands fa-intercom standardcolor fa-4x"></i>
            <h5 class="card-title pt-3">Custom Web Application Development</h5>
            <p class="card-text">We help you deliver superior web development services combined with expert resources, technical prowess to strengthen overall business strategy. Out experience in custom web app development assures compatibility, scalability and intuitive user experiences.</p>
          </div>
        </div>
    </div>
    <div class="card-deck pt-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="fa-brands fa-dev standardcolor fa-4x"></i>
          <h5 class="card-title pt-3">DevOps</h5>
          <p class="card-text">Aligning business operations and development efforts is the recipe for success in the rapidly changing digital ecosystem. Choose from the range of DevOps services and get your business the much-needed tactical advantage.</p>
        </div>
      </div>
      <div class="card text-left">
          <div class="card-body text-center">
            <i class="fa-solid fa-magnifying-glass standardcolor fa-4x"></i>
            <h5 class="card-title pt-3">SEO</h5>
            <p class="card-text">Fully managed SEO using the best white hat SEO strategies, our team provides a results-driven search engine marketing campaign. Using technical & on-page audits, compelling content creation, and outreach for link-building, our SEO campaigns are a complete marketing solution for increasing organic traffic.</p>
          </div>
        </div>
        <div class="card text-left text-center">
          <div class="card-body">
            <i class="fa-solid fa-wrench standardcolor fa-4x"></i>
            <h5 class="card-title pt-3">QA</h5>
            <p class="card-text">Make your software development projects more efficient with our full spectrum of test automation services. We create a state-of-the-art test environment that evolves with your organization’s needs. With the help of the finest tools and frameworks, we enable you to deliver flawless products for your end-users.</p>
          </div>
        </div>
    </div>
</div> 
<!-- End Service Area -->

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>